# macOS
.DS_Store

# 환경 변수
.env
.env.local
.env.*.local

# Node
node_modules/
dist/
build/
.next/
.vite/
*.log

# 에디터
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/

# 로컬 캐시
.cache/
tmp/
